aiohttp==1.0.5
async-timeout==3.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
Cogs==0.4.1
discord.py==0.16.12
idna==2.7
lxml==4.2.3
multidict==4.3.1
PyMoe==1.0.6
PyYAML==5.4
requests==2.19.1
spice-api==1.0.4
ujson==1.35
urllib3==1.23
websockets==3.4
